<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지역별 사회적 거리두기</title>
</head>
<body>
    <hr style="border: solid 10px black;">
    <h1>광역시,도,특별자치시,특별자치도 사회적 거리두기 단계</h1>
    <hr style="border: solid 10px black;">
    <br>
    {% for rg in rg.all %}
        <hr align="left" style="border: solid 1px black; width: 30%;">
        <h2>{{ rg.region }}</h2>
        <p>{{ rg.level }}</p>
        <p>{{ rg.term }}</p>
    {% endfor %}
    {% for mc in mc.all %}
        <hr align="left" style="border: solid 1px black; width: 30%;">
        <h2>{{ mc.region }}</h2>
        <p>{{ mc.level }}</p>
        <p>{{ mc.term }}</p>
    {% endfor %}
    {% for do in do.all %}
        <hr align="left" style="border: solid 1px black; width: 30%;">
        <h2>{{ do.region }}</h2>
        <p>{{ do.level }}</p>
        <p>{{ do.term }}</p>
    {% endfor %}
    {% for sgd in sgd.all %}
        <hr align="left" style="border: solid 1px black; width: 30%;">
        <h2>{{ sgd.region }}</h2>
        <p>{{ sgd.level }}</p>
        <p>{{ sgd.term }}</p>
    {% endfor %}
    {% for sgs in sgs.all %}
        <hr align="left" style="border: solid 1px black; width: 30%;">
        <h2>{{ sgs.region }}</h2>
        <p>{{ sgs.level }}</p>
        <p>{{ sgs.term }}</p>
    {% endfor %}
</body>
</html>